# Build artefacts
build/

# Fortran compiled module files
*.mod

# Fortran compiled object files
*.o

# Executables
*.ex
*.exe

# Simulation output
data/output/*.nc
data/output/*.txt

# Generated plots
plots/

# Claude Progress
PROGRESS.md

# Python
.venv/
src/PX915env/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# macOS
.DS_Store
